<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/app/static/js/d3.v4.js"></script>
	<script src="/app/static/js/jquery.min.js"></script>
	<script src="/app/static/js/bootstrap.min.js"></script>
	<link href="/app/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top: 5rem; background-color: #eee" onresize="redraw()">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Screech</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
				  <a class="dropdown-item" href="#">Action</a>
				  <a class="dropdown-item" href="#">Another action</a>
				  <a class="dropdown-item" href="#">Something else here</a>
				</div>
			</li>
		</ul>
		<ul class="navbar-nav justify-content-end">
		<li class="nav-item">
			<a class="nav-link" href="/logout">Logout</a>
		</li>
		</ul>
	</div>
	</nav>
    <div class="container-fluid">
    <div class="row">
	<div class="col-sm-3 col-md-3 d-none d-sm-block sidebar" id="side" style="border-right: thin solid darkgrey">
    <!-- insert code for drawing selectable canvas images here -->        
	</div>
	<main role="main" class="col-sm-9 ml-sm-auto col-md-9 pt-3">
	<div id="main_div">
	</div><br><br>
	<div>
        <button style="float: left" type="submit" onclick="convert()" class="btn btn-primary">Download this graph</button>
        <form method="post" action="/use_chart">
            <input type="hidden" name="post_recommendation" id="post_recommendation"/>
            <input type="hidden" name="post_chart" id="post_chart"/>
        	 <button style="float: right" type="submit" onclick="complete_form()" class="btn btn-primary">Use this graph</button>
        </form>
    </div>
	</main>
    
    <script>
    function convert(){
    //code from http://techslides.com/save-svg-as-an-image
      var html = d3.select("svg")
            .attr("version", 1.1)
            .attr("xmlns", "http://www.w3.org/2000/svg")
            .node().parentNode.innerHTML;
    
      var imgsrc = 'data:image/svg+xml;base64,'+ btoa(html);
      var img = '<img src="'+imgsrc+'">'; 
      d3.select("#svgdataurl").html(img);
    
      var canvas = document.createElement("canvas"),
    	  context = canvas.getContext("2d");
    
      canvas.width = d3.select("svg").attr("width");
      canvas.height = d3.select("svg").attr("height");
    
      var image = new Image;
      image.src = imgsrc;
      image.onload = function() {
    	  context.drawImage(image, 0, 0);
    
    	  var canvasdata = canvas.toDataURL("image/png");
    
    	  var pngimg = '<img src="'+canvasdata+'">'; 
      	  d3.select("#pngdataurl").html(pngimg);
    
    	  var a = document.createElement("a");
    	  a.download = "download.png";
    	  a.href = canvasdata;
    	  a.click();
      };
    
    }
    


    function complete_form(){
        
        document.getElementById("post_recommendation").value = {{ prediction|safe }};
        document.getElementById("post_chart").value=document.getElementsByTagName("svg")[0].id;
    }
    
    function switch_tab(tab_name){
        var tabs = document.getElementsByClassName("tabs");
        var i=0;
        for(i=0;i<tabs.length;i++){
            if(tabs[i].style.display=="block"){
                tabs[i].style.display="none"
                document.getElementById(tabs[i].id+"_nav").classList.remove("active")
            }
        }
        document.getElementById(tab_name).style.display="block"
        document.getElementById(tab_name+"_nav").classList.add("active")
    }
    </script>
    <script>
    //d3 code example
    function redraw(){
        d3.selectAll("svg").remove();
        d3.select("#side").selectAll("button").remove();
        d3.select("#side").selectAll("br").remove();
        var div_width = d3.select("#main_div").style("width");
        div_width = div_width.replace("px", "");
        
        var margin = {top: 30, right: 20, bottom: 60, left: 50},
            width = div_width-margin.left-margin.right,
            height = (document.documentElement.clientHeight*0.7)-margin.top-margin.bottom;
        
        var data = {{ d | safe }};
        var recommendation = {{ r | safe }};
        {% for rec in r %}
            var chart = "{{rec}}";
            d3.select("#side").append("button")
                .attr("id", chart.concat("_link"))
                .on("click", function(){
                    draw("{{rec}}", margin, height, width, data);
                })
                .text(chart)
                ;
            d3.select("#side").append("br");
            d3.select("#side").append("br");
        {% endfor %}
        draw( "{{ first_rec | safe }}", margin, height, width, data);
    }
    
    function draw(chart, margin, height, width, data){
        d3.selectAll("svg").remove();
        switch(chart){
            case "scatter":
                scatter(data, margin, height, width);
                break;
            case "bar":
                bar(data, margin, height, width);
                break;
            case "line":
                line(data, margin, height, width);
                break;
            case "parallel":
                parallel(data, margin, height, width);
                break;
        }
    }
    
    function scatter(data, margin, height, width){
        var x = d3.scaleLinear().range([0, width]);
        var y = d3.scaleLinear().range([height, 0]);
        var svg = d3.select("#main_div").append("svg")
            .attr("id", "scatter")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .style("display","block")
            .style("margin","auto")
            .style("font","16px sans-serif")
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top +")");
            
        //this ensures data is read as a number. Will work for any -
        //number of keys
        data.forEach(function(d){
            {# loop over number of keys and process data for each (assuming numbers) #}
            {% for key in keys %}
                d.{{key}} = +d.{{key}};
            {% endfor %}
            
        })
        var min_x = d3.min(data, function(d){ return d. {{keys[1]}} }),
            max_x =  d3.max(data, function(d){ return d. {{keys[1]}} }),
            min_y = d3.min(data, function(d){ return d. {{keys[0]}} }), 
            max_y = d3.max(data, function(d){ return d. {{keys[0]}} });
            
        x.domain([min_x-0.1*min_x, max_x+0.1*max_x]);
        y.domain([min_y-0.1*min_y, max_y+0.1*max_y]);
        
        svg.selectAll("dot")
            .data(data)
        .enter().append("circle")
            .style("fill", "steelblue")
            .attr("r", 5)
            {# insert key into attribute value for drawing #}
            .attr("cx", function(d){ return x(d. {{keys[1]}} )})
            .attr("cy", function(d){ return y(d. {{keys[0]}} )});
        
        svg.append("g")
            .attr("transform", "translate(0,"+height+")")
            .call(d3.axisBottom(x));
        
        svg.append("text")
            .attr("transform", "translate(" + (width/2) + "," + (height+margin.top+20) +")")
            .style("text-anchor", "middle")
            .text(" {{keys[1]}} "); {# insert text from key name#}
        
        svg.append("g")
            .call(d3.axisLeft(y));
            
        svg.append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 0-margin.left)
            .attr("x", 0-(height/2))
            .attr("dy", "1em")
            .style("text-anchor", "middle")
            .text(" {{keys[0]}} "); {# insert text from key name#}
    }
    
    function bar(data, margin, height, width){
            
        //adapted from https://bl.ocks.org/mbostock/3887051
        data.sort(function(x,y){ return x["{{keys[0]}}"] - y["{{keys[0]}}"]});
        var svg = d3.select("#main_div").append("svg")
            .attr("id", "bar")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .style("display","block")
            .style("margin","auto")
            .style("font","16px sans-serif")
        
        var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top +")");
            
        var x0 = d3.scaleBand()
            .rangeRound([0, width])
            .paddingInner(0.1);

        var x1 = d3.scaleBand()
            .padding(0.05);
        
        var y = d3.scaleLinear()
            .range([height, 0]);
        
        var z = d3.scaleOrdinal(d3.schemeCategory10);
        
        var keys = {{keys[1:] | safe}};
        var test_keys = [];
        for(var key in keys){
            if(!isNaN(+data[0][keys[key]])){
                test_keys.push(keys[key]);
            }
        }
        
        x0.domain(data.map(function(d) { return d['{{ keys[0] | safe }}']; }));
        x1.domain(keys).rangeRound([0, x0.bandwidth()]);
        y.domain([0, d3.max(data, function(d) {return d3.max(keys, function(key) {return d[key]; }); })]).nice();
        
        g.append("g")
            .selectAll("g")
            .data(data)
            .enter().append("g")
              .attr("transform", function(d) { return "translate(" + x0(d['{{keys[0] | safe}}']) + ",0)"; })
            .selectAll("rect")
            .data(function(d) { 
                return keys.map(function(key) {
                    return {key: key, value: +d[key]}; 
                }).filter(function(key){ if(test_keys.indexOf(key['key'])!=-1){return key} })
            })
            .enter().append("rect")
              .attr("x", function(d) { return x1(d.key); })
              .attr("y", function(d) { return y(d.value); })
              .attr("width", x1.bandwidth())
              .attr("height", function(d) { return height - y(d.value); })
              .attr("fill", function(d) { return z(d.key); });
        
          g.append("g")
              .attr("class", "axis")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x0))
            .append("text")
              .attr("x", (width-margin.left+margin.right)/2)
              .attr("y", margin.bottom-5)
              .style("font","16px sans-serif")
              .attr("fill", "#000")
              .attr("font-weight", "bold")
              .attr("text-anchor", "start")
              .text("{{ keys[0] | safe}}")
             ;
        
          g.append("g")
              .attr("class", "axis")
              .call(d3.axisLeft(y).ticks(null, "s"))
            .append("text")
              .attr("x", 2)
              .attr("y", y(y.ticks().pop()) + 0.5)
              .attr("dy", "0.32em")
              .attr("fill", "#000")
              .attr("font-weight", "bold")
              .attr("text-anchor", "start");
        
          var legend = g.append("g")
              .attr("font-family", "sans-serif")
              .attr("font-size", 10)
              .attr("text-anchor", "end")
            .selectAll("g")
            .data(keys.slice().reverse())
            .enter().append("g")
              .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });
        
          legend.append("rect")
              .attr("x", width - 19)
              .attr("width", 19)
              .attr("height", 19)
              .attr("fill", z);
        
          legend.append("text")
              .attr("x", width - 24)
              .attr("y", 9.5)
              .attr("dy", "0.32em")
              .text(function(d) { return d; });
    }
    
    function line(data, margin, height, width){
        //adapted from https://bl.ocks.org/mbostock/3884955        
    
         var svg = d3.select("#main_div").append("svg")
            .attr("id", "line")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .style("display","block")
            .style("margin","auto")
            .style("font","16px sans-serif")
        .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top +")");
            
        //sort data into ascending order of first col
        data.sort(function(x,y){ return x["{{keys[0]}}"] - y["{{keys[0]}}"]});
        
        var g = svg.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top +")");
        
       var x = d3.scaleLinear().range([0, width]),
           y = d3.scaleLinear().range([height, 0]),
           z = d3.scaleOrdinal(d3.schemeCategory10); 
         
       var data_keys = {{keys[1:]| safe}};
       var max = [];
       var min = [];
       data_keys.forEach(
            function(item, index){
                max.push(Math.max.apply(Math, data.map(function(d){return d[item];})));
                min.push(Math.min.apply(Math, data.map(function(d){return d[item];})));
            }
       )
       max = max.filter(function(d){if(!isNaN(d)){ return d;}})
       min = min.filter(function(d){if(!isNaN(d)){ return d;}})
       
       var test_keys = [];
        for(var key in data_keys){
            if(!isNaN(+data[0][data_keys[key]])){
                test_keys.push(data_keys[key]);
            }
        }
       //setup domains for scales
        x.domain([data[0]['{{keys[0] | safe}}'],data[data.length-1]['{{keys[0] | safe}}']]);
        y.domain([d3.min(min), d3.max(max)]);
        z.domain(test_keys);
        
        
        g.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(d3.axisBottom(x));
        
        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y))
          .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", "1em")
            .attr("fill", "#000");
            //.text("Temperature, ºF");
        
        var line = d3.line()
            .curve(d3.curveBasis)
            .x(function(d, i) {return x(+data[i]['{{keys[0] | safe}}']); })
            .y(function(d) {return y(+d); });
        

        
        
        var city = g.selectAll(".city")
            .data(test_keys)
            .enter().append("g")
              .attr("class", "city");
        
        city.append("path")
            .attr("class", "line")
            .attr("d", function(d) {var temp = []; data.forEach(function(z){temp.push(+z[d]);}); return line(temp); })
            .style("stroke", function(d) {return z(d); })
            .style("fill","none")
            .style("stroke-width","1.px");
        
        
        
        /*city.append("text")
            .datum(function(d) { return {id: d.id, value: d.values[d.values.length - 1]}; })
            .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.temperature) + ")"; })
            .attr("x", 3)
            .attr("dy", "0.35em")
            .style("font", "10px sans-serif")
            .text(function(d) { return d.id; }); */
    }
    
    function parallel(data, margin, height, width){
        var x = d3.scalePoint().range([0, width], 1),
        y = {},
        dragging = {};

        var line = d3.line(),
            axis = d3.axisLeft(),
            background,
            foreground;
        var svg = d3.select("#main_div").append("svg")
            .attr("id", "parallel")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .style("font","16px sans-serif")
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        dimensions = d3.keys(data[0]).filter(function(d) {
            return d != "name" && (y[d] = d3.scaleLinear()
                .domain(d3.extent(data, function(p) { return +p[d]; }))
                .range([height, 0]));
        });
        x.domain(dimensions);
        background = svg.append("g")
              .attr("class", "background")
            .selectAll("path")
              .data(data)
            .enter().append("path")
              .attr("d", path)
              .style("fill","none")
              .style("stroke","#ddd")
              .style("shape-rendering","crispEdges");
        
         // Add blue foreground lines for focus.
         foreground = svg.append("g")
             .attr("class", "foreground")
           .selectAll("path")
             .data(data)
           .enter().append("path")
             .attr("d", path)
             .style("stroke","steelblue")
             .style("fill","none");

  // Add a group element for each dimension.
          var g = svg.selectAll(".dimension")
              .data(dimensions)
            .enter().append("g")
              .attr("class", "dimension")
              .attr("transform", function(d) { return "translate(" + x(d) + ")"; })
              .call(d3.drag()
                .subject(function(d) { return {x: x(d)}; })
                .on("start", function(d) {
                  dragging[d] = x(d);
                  background.attr("visibility", "hidden");
                })
                .on("drag", function(d) {
                  dragging[d] = Math.min(width, Math.max(0, d3.event.x));
                  foreground.attr("d", path);
                  dimensions.sort(function(a, b) { return position(a) - position(b); });
                  x.domain(dimensions);
                  g.attr("transform", function(d) { return "translate(" + position(d) + ")"; })
                })
                .on("end", function(d) {
                  delete dragging[d];
                  transition(d3.select(this)).attr("transform", "translate(" + x(d) + ")");
                  transition(foreground).attr("d", path);
                  background
                      .attr("d", path)
                    .transition()
                      .delay(500)
                      .duration(0)
                      .attr("visibility", null);
                }));

          // Add an axis and title.
          g.append("g")
              .attr("class", "axis")
              .style("cursor", "move") 
              .style("text-shadow","0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff")
              .each(function(d) { d3.select(this).call(axis.scale(y[d])); })
            .append("text")
              .style("fill","black")
              .style("text-anchor", "middle")
              .attr("y", -9)
              .text(function(d) { return d; });
                
        function position(d) {
          var v = dragging[d];
          return v == null ? x(d) : v;
        }
        
        function transition(g) {
          return g.transition().duration(500);
        }
        
        // Returns the path for a given data point.
        function path(d) {
          return line(dimensions.map(function(p) { return [position(p), y[p](d[p])]; }));
        }
    }
    
    redraw();
    </script>
</body>